{% extends "base.twig" %}

{% block main %}

	{% if employees %}
		<p>ok</p>
	{% else %}
		<p>Vous pouvez ajouter des employés en cliquant ici</p>
	{% endif %}
	{% block form %}
		<h2>Tableau de bord</h2>
		<div class="dashboard-form">
			<form action="/addEmployee" method="post" enctype="multipart/form-data">
				<input type="text" name="name" id="employeeName" placeholder="Nom de l'employé">
				<input type="text" name="function" id="employeeFunction" placeholder="Fonction">
				<input type="number" name="blame" id="employeeBlame" placeholder="Nombre de blâme">
				<input type="file" name="photo" id="employeePhoto">
				<div class="button-bar">
					<button class="btn" type="submit" id="addBtn">Ajouter</button>
					<button class="btn" type="reset">Effacer</button>
				</div>
			</form>
			<button class="btn" id="logoutBtn" type="button" onclick="window.location.href='/logout'">Déconnexion</button>
		</div>
		<div class="card-container">
			{% if employees %}
				{% for employee in employees %}
					<div class="card">
						<p>Nom:
							{{employee.name}}</p>
						<p>Fonction:
							{{employee.function}}</p>
						<p>Nombre de blâme:
							{{employee.blame}}</p>
						<div class="photo">
							<img src="/uploads/{{employee.photo}}">
						</div>
						<div class="button-bar">
							<button
								id="update" type="button">{# <a href="updateProject/{{project.id}}">Update</a> #}
							</button>
							<button
								id="delete" type="button"><a href="deleteEmployee/{{employee.id}}">Supprimer</a>
							</button>
						</div>
					</div>
				{% endfor %}
			{% endif %}
		</div>
	{% endblock %}


{% endblock %}
